{% extends 'layout.twig' %}
{% block title %}Openact{% endblock %}
{% block description %}Il miglior open actor consultation{% endblock %}
{% block header %}
	OpenAct
{% endblock %}
{% block content %}
	<h1>Questo è il potentissimo OpenAct!</h1>
	<br/>

	<h2>cittadini</h2>
	<div id="citizens"></div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		$(document).ready(function(){
			$.ajax({
				url: '/API/citizen',
				method: "GET",
				data: {},
				success: function(citizens){
					var htmlString = "<ul>";
					for (var iii = 0; iii < citizens.length; iii++) {
						htmlString += "<li id=\""+citizens[iii].tableUuid+"\" onclick=\"getTable('"+citizens[iii].tableUuid+"')\">" + citizens[iii].firstName + "</li>";
					}
					htmlString += "</ul>";
					$("#citizens").html(htmlString);
				},
				dataType: 'json'
			});
		});

		function getTable(uuid) {
			$.ajax({
				url: '/API/table/'+uuid,
				method: "GET",
				data: {},
				success: function(table){
					console.log(table)
				},
				dataType: 'json'
			});
		}
	</script>
{% endblock %}